table {
    width: 100%;
}
.leftPanel{
    width:25rem;    
}
.switchViews {
    display: flex;
    margin-right: 2rem;
    /* background-color: lightgoldenrodyellow; */
}
.action-select {
    /* background-color: lightgreen; */
}
.action-reject {
    /* background-color: lightsalmon; */
}
h1{
    text-align: center;
    padding-top: 1rem;
}
button{
    margin-right: 1rem;
}
.mat-sidenav-container {
    height: 60rem;
}
.mat-form-field {
    width: 4rem;
    display: inline-block;
    position: relative;
    text-align: right;
    
}

.profilePicture {
margin-left: 1rem;
}