table {
    width: 100%;
}
.leftPanel{
    width:22rem;    
}
.switchViews {
    display: flex;
    margin-right: 2rem;
    margin-bottom: 1rem;
    /* background-color: #F5F5F5; */
}
h1{
    text-align: center;
    padding-top: 1rem;
    /* background-color: #F5F5F5; */
    margin-bottom: 0;
}
button{
    margin-right: 1rem;
}
.mat-sidenav-container {
    height: 60rem;
}
.mat-form-field {
    width: 4rem;
    display: inline-block;
    position: relative;
    text-align: right;
    
}

.profilePicture {
margin-left: 1rem;
border-style: solid;
border-color: darkslategrey;
}
