table {
    width: 100%;
}
.full-width {
    font-size: 14px;
    width: 100%;
}
.switchViews {
    display: flex;
    margin-right: 2rem;
}
h1{
    text-align: center;
    padding-top: 1rem;
}
button{
    margin-right: 1rem;
}