table {
    width: 100%;
}

.full-width {
    font-size: 14px;
    width: 100%;
}

.switchViews {
    display: flex;
    direction: rtl;
    margin-right: 4rem;
}
h1{
    text-align: center;
    padding-top: 3rem;
}