table {
    width: 100%;
}
.full-width {
    font-size: 14px;
    width: 100%;
}
.switchViews {
    display: flex;
    margin-right: 2rem;
    /* background-color: lightgoldenrodyellow; */
}
h1{
    text-align: center;
    padding-top: 1rem;
    /* background-color: #F5F5F5; */
    margin-bottom: 0;
}
button{
    margin-right: 1rem;
}